body{
  margin: 0;
  background-color: rgb(82, 102, 120);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  /* Variables */
  --start-background: white;
  --background-answer: white;
  --background-answer-selected: rgb(132, 135, 225);
  --background-checkAnswer: rgb(0, 0, 107);
  --color-checkAnswer: white;
  --text-color: black;
  --button-start-background: rgb(85, 85, 255);
  --button-start-color: white;
  
}

.start{
  background-color: var(--start-background);
  text-align: center;
  width: 95vw;
  margin: 8vh auto;
  font-size: 55px;
  padding-bottom: 25px;
  border-radius: 15px;
  max-width: 90rem;
}

.start-tittle{
  margin: -2rem;
}

.title{
  font-size: 7rem;
  color: --text-color;
}

.img--main{
  width: 35%;
}

.title-dropdown{
  color: var(--text-color);
}

.button--start{
  background-color: var(--button-start-background);
  color: var(--button-start-color);
  padding: 0;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 10px;
  padding: 12px;
  width: 12rem;
  text-align: center;
}

.started{
  background-color: var(--start-background);
  width: 80vw;
  margin: 1.5rem auto;
  padding: 5vw;
  font-size: 25px;
  border-radius: 15px;
}

.question--title{
  color: var(--text-color);  
}


.easy{
  color: green;
}

.medium{
  color: orange;
}

.hard{
  color: red;
}

.category{
  display: flex;
  align-items: center;
  height: 3rem;
  margin-bottom: 1rem;
}

.category > h4{
  margin-right: 20px;
  color: var(--text-color);
}

.category--img{
  height: 3rem;
}

.answers{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  margin: 0 auto;
}

.answer{
  border: 1px solid gray;
  background-color: var(--background-answer);
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  color: var(--text-color);
}

.answer-selected{
  background-color: var(--background-answer-selected);
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}

.good--answer{
  border: 1px solid rgb(32, 56, 16);
  background-color: rgb(71, 244, 48);
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}

.bad--answer{
  border: 1px solid gray;
  background-color: rgb(182, 69, 69);
  color: gray;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}

.none--answer{
  border: 1px solid rgba(128, 128, 128, 0.726);
  background-color: white;
  color: gray;
  text-align: center;
  cursor: no-drop;
  border-radius: 15px;
}

.checkAnswers{
  background-color: var(--background-checkAnswer);
  color: var(--color-checkAnswer);
  font-weight: 800;
  font-size: xx-large;
  align-items: center;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  padding: 25px;
  border-radius: 15px;
  cursor: pointer;
}


.box {
  margin-top: -5rem;
  margin-bottom: 2rem;
}

select{
  font-size: 2rem;
  width: 75%;
}

option{
  font-size: 2rem;
}

.buttons{
  display: flex;
}

.selectNumberDiv{
  margin: 2rem;
}

.selectNumberDiv > h6{
  margin: 0;
}

.number--input{
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  width: 5rem;
  text-align: center;
}

.number--note{
  font-size: 1.5rem;
  color: red;
  margin-top: 100rem;
}

@media (max-width: 600px){
  .title{
    font-size: 3rem;
  }

  .title-dropdown{
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }

  .selectNumberDiv > h6{
    font-size: 1.5rem;
  }
  
  .button--start{
    font-size: 2rem;
  }


  .question--title{
    font-size: 1.5rem;
  }

  .question--box > h4{
    font-size: 1rem;
  }

  .category{
    font-size: 1rem;
  }

  .category--img{
    height: 2rem;
  }
  
  .answers{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin: 0 auto;
  }

  .answer{
    font-size: 1rem;
  }

  .answer-selected{
    font-size: 1rem;
  }

  .checkAnswers{
    font-size: 1rem;
    padding: 10px;
  }

  .good--answer{
    font-size: 1rem;
  }
  
  .bad--answer{
    font-size: 1rem;
  }
  
  .none--answer{
    font-size: 1rem;
  }

  .score-title{
    font-size: 1.2rem;
    margin: 0 auto;
  }

  
}